 body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#6ab446;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('https://lh3.googleusercontent.com/SIvk_u04-DSXDPuOyBxD4vnn3b0lUS4IpvsRNWkSHkQLCqfO8dUkGtEG5noekA2pb-htjw=s155');
    background-size: cover;
    background-position: center;
    position: relative;
}
