 body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#6ab446;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('https://lh3.googleusercontent.com/oLCPO4JD5rc39S-7gIxSl-_wpQA_H9iuz8YECp2uCqdQm4AvNUSD2ffoaYJ7PuEyV0T2bg=s120');
    background-size: cover;
    background-position: center;
    position: relative;
}
